GOOGLE_GENERATIVE_AI_API_KEY=
GRADIUM_API_KEY=
GRADIUM_VOICE_ID=
GENIUS_ACCESS_TOKEN=
LASTFM_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
